<section class="card">
  <a href="/user/{{id}}">
    <header>{{user_name}}</header>
</a>
    <div class="card-body">
      {{!-- <img src="/comment/{{id}}" alt="{{description}}"> --}}
      <p>{{content}}</p>
    </div>

</section>